/* 图标库引用（如果需要） */
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

.site-button-ghost-wrapper {
  padding: 16px;
  background: rgb(190, 200, 200);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}

.custom-carousel-item {
  margin: 0;
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
